body {
    background-image: url('http://localhost/TinyTotsPrintables/backend/images/bg.png');
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    font-style: normal;
}

#imglogo {
    margin-top: 20px;
    height: 60px;
}

.container {
    margin-top: 50px;
}

.form-container {
    background-color: #FFFFFF;
    width: 325px;
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.inputs-container {
    text-align: left;
    margin-left: 20px;
}

input[type="number"] {
    display: block;
    background-color: rgb(250, 228, 250); /* Changed to match the input background color */
    border: none;
    width: 270px;
    height: 35px;
    border-radius: 10px;
    font-size: 16px;
    padding: 7px;
    color: #000000;
    padding-left: 12px;
    outline: none; 
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form label {
    display: block;
    font-weight: bold;
    color: #7c008f; /* Changed to match the label color */
    margin-bottom: 10px;
    text-align: left;
}

.otp-container {
    display: flex;
    align-items: center; 
    padding-right: 10px;  
    background-color: rgb(250, 228, 250); /* Changed to match the background color */
    border-radius: 10px;
    width: 275px;
    height: 49.5px;  
    border: 1px solid #873de1; /* Changed to match the border color */
}

.key-icon {
    color: #53007a; /* Changed to match the icon color */
    margin-left: 15px;
}

#btnotpback, #btnverify {
    cursor: pointer;
    background-color: #53007a; /* Changed to match button background color */
    width: 140px;
    height: 47px;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

#btnotpback:hover, #btnverify:hover {
    background-color: #cc98fc; /* Changed to match the hover color */
    color: #41006c;
}
